html {
  font-family: Helvetica;
  font-size: 18px;
  background-color: black;
}

h1 {
  font-size: 2rem;
}

h2 {
  1rem;
}

.container {
  max-width: 960px;
  background-color: #E0F2F7;
  margin: 0px auto;
}

/*Header & Navigation*/

.secret {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: #E0F2F7;
  color: black;
  font-weight: bold;
  justify-content: center;
  padding: 1rem;
}

.main {
  background-image: url(../images/hotelOutside.jpeg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 25rem;
  display: flex;
  flex-direction: column;
  font-weight: bold;
}

.main .support-text {
  background-color: #008080;
  color: white;
  width: 5rem;
  display: flex;
  flex-direction: column;
  margin-top: 14rem;
  margin-left: 3rem;
  padding: 1rem;
}

.main .support-text h2 {
  text-align: center;
}

header nav ul {
  background-color: #E0F2F7;
  color: white;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0.75rem 0rem;
  justify-content: space-around;
}

/*Main Section*/

.welcome {
  display: flex;
  flex-direction: column;
  background-color: #E0F2F7;
  color: black;
  width: 100%;
}

.welcome-text {
  text-align: center;
}

.gallery {
display: flex;
flex-direction: row;
width: 100%;
overflow: hidden;
justify-content: space-around;
padding-top: 3rem;
padding-bottom: 3rem;
}

.box {
  display: flex;
  flex-direction: column;
  width: 30%;
  background-color: black
  color: white;
}

.box img {
  height: 9rem;
  padding: 2rem 2rem;
  border: 4px solid black;
}

.gallery .box-desc {
  background-color: beige;
  color: black;
  padding: 0.5rem 0rem;
  text-align: center;
}

/*Footer*/

.footer {
  display: flex;
  flex-direction: row;
  background-color: #E0F2F7;
  color: black;
  height: 5rem;
  align-items: center;
  text-align: left;
  padding-left: 2rem;
}
